<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<ul>
  {{range .}}
  <img src="http://upload.wikimedia.org/wikipedia/en/6/63/Leicester02.png" alt="Mountain View" style="width:128px;height:128px;">
<li>{{.Team1}} {{.Resultat1}} - {{.Resultat2}} {{.Team2}} {{.Date}}  [{{.Status}}] </li>
{{end}}
</ul>
</body>
</html>
  