<!--Copyright <2018> <Belataris Dhoulkifli, Hajji Mohamed, Goossens Cédric>
  
  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ISIB OpenSource Site</title>
  <!--<meta http-equiv="refresh" content="60" /> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  var ws = new WebSocket("ws://" + window.location.host + "/socket");
  //onopen, envoi un message au serveur
  ws.onopen = function() {
    ws.send(JSON.stringify({message: "hello server!"}))
  }
  //si recoit un message du serveur, modifie les données sur base de la struct récupérée
  ws.onmessage = function(event) {
    var m = JSON.parse(event.data);
    document.getElementById('s9201').innerHTML = m.Scha9201;
    document.getElementById('s9202').innerHTML = m.Scha9202;
    document.getElementById('s9301').innerHTML = m.Scha9301;
    document.getElementById('s9302').innerHTML = m.Scha9302;
    document.getElementById('f9201').innerHTML = m.For9201;
    document.getElementById('f9202').innerHTML = m.For9202;
    document.getElementById('f9301').innerHTML = m.For9301;
    document.getElementById('f9302').innerHTML = m.For9302;

    //console.debug("Received message", m.message);
  }
  //log l'erreur si il y a
  ws.onerror = function(event) {
    console.debug(event)
  }
  //simple fonction qui envoi requête au serveur (peut traiter les données à recevoir
  //en fonction du message envoyé par le client, ici, je prends pas le message en compte)
  function send(){
    ws.send(JSON.stringify({message: "hello server!"}))
  }

</script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    table.scoreTable2 th, table.scoreTable2 td {
    padding: 1px;
    text-align: center;
    width: 500px;
}
table.scoreTable2 th {
    background-color: black;
    color: white;
}
table.scoreTable2 tr:nth-child(odd) {
    background-color: #eee;
}
table.scoreTable2 tr:nth-child(even) {
   background-color:#fff;
}
   
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">ISIB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href=javascript:onClickMenu(0)>News</a></li>
        <li><a href=javascript:onClickMenu(1)>Foot</a></li>
        <li><a href=javascript:onClickMenu(2)>Stib</a></li>
        
      </ul>
    </div>
  </div>
</nav>
  

    
    <div id="change" class="col-sm-8 text-left"> </div>
    
  
    <script type="text/javascript">

//Ajouter votre contenu dans les emplacements prévus
var content = [
"<h2><b>Les derniers titres de l'actualité :</b></h2>\
  <table>\
     {{range $i, $item := .HajjiData.Items}} \
   <tr>\
    <td> <hr> \
    <img src='{{(index $item.Enclosures 0).URL}}' style='width:100%;height:80%;padding-right:20px'>\
    </td>\
    <td>\ <hr> <b> {{ $item.Title }} </b> <br>\
   {{ $item.Description }} \ </td>\
   </tr>\
   {{end}} \
   </table>\
<br>",
"<div>\
  <h3>Résultats Barclay Premier League</h3>\
  </div>\
  <table class='scoreTable2' cellpadding='0' cellspacing='0'>\
  <thead>\
  <th  colspan='8'><h4>{{.JourneeActuelle}} ème journée</h4></th>\
  <th  colspan='4'></th>\
  <th><h4>Statut</h4></th>\
  </thead>\
  {{range .BelData.MatchesJournee.Matches}}\
  <tr>\
    <td ><br></td>\
    <td ><br></td>\
    <td >\
    <div style='color: blue;'>{{.Date}}</div>\
    <div ><br></div>\
    <div>\
    <br></div>\
                    </td>\
    <td ><h4>{{.Team1}}</h4></td>\
    <td ><img height='30' src='{{.Image1}}' width='30' /></td>\
    <td ><h3>{{.Resultat1}}</h3></td>\
    <td ><h3>-</h3></td>\
    <td ><h3>{{.Resultat2}}</h3></td>\
    <td ><img height='30' src='{{.Image2}}' width='30' /></td>\
    <td ><h4>{{.Team2}}</h4></td>\
    <td ><br></td>\
    <td ><br></td>\
    <td >\
      {{.Status}}\
    </td>\
     </tr>\
     {{end}}\
    </table>",
  "<h1>Module de la Stib</h1>\
<p>\
  <h2><b>Arrêt Congrès :</b></h2>\
  <ul style='font-size:30px; line-height:60px'>\
    <li>\
      <span style='padding:5px; background-color:#ff0000; color:white; border-radius:5px'>92</span> Gare de Schaerbeek : <span id='s9201'>{{.CedData.Scha9201}} </span> min puis <span id='s9202'>{{.CedData.Scha9202}}</span> min\
    </li>\
    <li>\
      <span style='padding:5px; background-color:#ff0000; color:white; border-radius:5px'>92</span> Fort-Jaco : <span id='f9201'>{{.CedData.For9201}}</span> min puis <span id='f9202'>{{.CedData.For9202}}</span> min\
    </li>\
    <li>\
      <span style='padding:5px; background-color:#ff8000; color:white; border-radius:5px'>93</span> Gare de Schaerbeek : <span id='s9301'>{{.CedData.Scha9301}}</span> min puis <span id='s9302'>{{.CedData.Scha9302}}</span> min\
    </li>\
    <li>\
      <span style='padding:5px; background-color:#ff8000; color:white; border-radius:5px'>93</span> Fort-Jaco : <span id='f9301'>{{.CedData.For9301}}</span> min puis <span id='f9302'>{{.CedData.For9302}}</span> min\
    </li>\
  </ul>\
</p>\
<br>"
];
//état dans la liste des modules
var msgPtr = 0;
//définit un entier pour skipper le send au chargement, sinon plante
var loadingSkip = 0;
//fonction du changement de module
function change() {
  
  var newMsg = content[msgPtr];
  document.getElementById('change').innerHTML = newMsg;
  msgPtr++;  msgPtr = (msgPtr % content.length);
  //envoi une requête au serveur pour recevoir les maj des timers stib
  if(loadingSkip == 0)
  {
    loadingSkip = 1;
  }
  else {
    send();
  }
}
//en cliquant sur un élément du menu
function onClickMenu(index){
  //change vers l'index indiqué
  msgPtr = index;
  change();

}

//au démarrage, lance le changement toutes les 20 secondes
function startFunction() { 
  change();
  setInterval(change, 20000); 

  }

onload = function() {
startFunction();
}

</script>


  
      

</body>
</html>


